<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('refreshRoutes') }}">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        {{ 'Обновить страницы'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>
